:global(.vtex-render-runtime-8-x-loadingBarAnimation){
  background-color:#f71963;
}

.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #F0F0F0;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #000;
  font-size: 14px;
  width: 57px;
  height: 14px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background-color: #F0F0F0;
}

