/* .notificationBarContainer {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-family: Montserrat;
  line-height: 1.38;
} */

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.newsletter {
  background-color: #03054E;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.logoImage--logo-header{
  width: 140px;
  height: 23px;
  margin-left: 17%;
}

.logoImage--search-icon{
  width: 22px;
  height: 22px;
}

.logoImage--login-icon{
  width: 23px;
  height: 23px;
}

.searchBarContainer :global(.vtex-input-prefix__group){
  border: none;
  border-bottom: 1px solid #000;
  width: 316px;
  border-radius: 0;
}
.logoImage--bag-icon{
  width: 18px;
  height: 23px;
}

.logoImage--bag-icon{
  width: 18px;
  height: 23px;
}

.imageElement--logo-fecebook{
  width: 11px;
  height: 21px;
}

.imageElement--logo-instagram{
  width: 21px;
  height: 21px;
}

.imageElement--logo-pintrest{
  width: 21px;
  height: 21px;
}

.imageElement--logo-spotify{
  width: 44px;
  height: 33px;
}

.imageElement--visa-card-footer{
  width: 50px;
  height: 16px;
}

.imageElement--master-card-footer{
  width: 32px;
  height: 26px;
}

.imageElement--elo-card-footer{
  width: 39px;
  height: 20px;
}

.imageElement--diners-card-footer{
  width: 29px;
  height: 25px;
}

.imageElement--american-card-footer{
  width: 27px;
  height: 26px;
}

.logoImage--icone-acupula{
  width: 102px;
  height: 25px;
}

.logoImage--icone-vtex{
  width: 112px;
  height: 47px;
}

.logoLink--icone-acupula{
  display: flex;
  justify-content: flex-end;
}

.searchBarIcon--footer-input{
  visibility: hidden;
}
:global(.vtex-input__prefix ){
  width: 22px;
}

.searchBarIcon--footer-input::before{
  visibility: visible;
  content: "";
  background:url("/arquivos/icone-enviar@2x.png");
  width: 22px;
  height: 16px;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
