.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}
.flexRowContent--footer-1 {
  align-content: center;
  justify-content: center;
}
.flexRow--menu-footer{
  display: flex;
}
.stretchChildrenWidth {
  justify-content: center;
}

.flexRowContent--payment-methods{
  margin-right: 200px;
}

.flexRow--payment-methods{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.flexRow--social-midias-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexRowContent--footer-input{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
:global(.vtex-menu-2-x-styledLink){
  font-family: 'Montserrat',sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  text-align: center;
  color: #000;
}


