.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.acceptedPaymentMethodContainer--payments-footer{
  display: flex;
  justify-content: center;
}
.socialNetworkWrapper{
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin-left: 100px;
}
.paymentMethodIconImage{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 340 105'%3E%3Cstyle%3E .visa0%7Bfill:%232394bc%7D.visa1%7Bfill:%23efc75e%7D %3C/style%3E%3Cpath d='M308.1 5.3h-20c-6.2 0-10.8 1.7-13.5 7.9l-38.4 86.9h27.2s4.4-11.7 5.5-14.3H302c.7 3.3 3.1 14.2 3.1 14.2H329L308.1 5.3zm-31.9 61.1c2.1-5.5 10.3-26.5 10.3-26.5-.1.2 2.1-5.5 3.4-9.1l1.7 8.2s4.9 22.6 6 27.4h-21.4zM238 69c-.2 19.7-17.8 32.4-45 32.4-11.6-.1-22.8-2.4-28.8-5.1l3.6-21.2 3.3 1.5c8.5 3.5 14 5 24.4 5 7.5 0 15.4-2.9 15.5-9.3 0-4.2-3.3-7.1-13.4-11.7-9.8-4.5-22.8-12.1-22.6-25.8 0-18.4 18-31.2 43.6-31.2 10 0 18 2 23.1 4l-3.5 20.5-2.3-1.1c-4.7-1.9-10.9-3.8-19.3-3.6-10.1 0-14.8 4.2-14.8 8.2 0 4.4 5.5 7.4 14.5 11.7C231.2 50 238.1 58.2 238 69zM127.9 5.3L87.2 99.9H59.9l-23.2-79c16.7 10.6 30.8 27.5 35.8 39.3l2.7 9.8 25.3-64.7h27.4zm10.4-.1h25.9L148 100h-25.9l16.2-94.8z' class='visa0'/%3E%3Cpath d='M11 6.3l.3-1.9h40.1c5.4.2 9.7 1.9 11.3 7.7L71.4 54C62.8 32.1 42.2 13.8 11 6.3z' class='visa1'/%3E%3C/svg%3E%0A")no-repeat;
}